<% current_user.events.each do | event | %>
	<strong><%= event.creator.name %>: </strong>
  <p><%= event.date %></p>
  <%= link_to event do %>
    <p><%= event.description %></p>
  <% end %>
<% end %>