<p>
  <strong>Date:</strong>
  <%= @event.date %><br><br>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
<br>

<%= render 'shared/invite_form'%>
<br>
<h1>Invited people: </h1><br>
<% @attendee.each do  | invitation | %>
  <%= invitation.name %><br><br>
<% end %>

