/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .flex {
   display: flex;
   justify-content: space-around;
 }
 .danger {
   color:orangered;
 }

 .warm {
   color: green;
 }
.field{
  width: 100%;
  background-color: darkgray;
}
.field-danger{
  background-color: rgb(233, 176, 169);
  width: 100%;
}
.field-warm{
  background-color: rgb(233, 232, 236);
  width: 100%;
}
.text-input{
  text-align: center;
  width: 100%;
  padding-top: 15%;
  padding-bottom: 15%;
  border-style: solid;
  border-color: salmon;
  font-weight: bold;
  background-color: darkgray;
  
}
.set{
  padding-left: 23px;
}
.details{
  text-align: center;
  width: 100%;
  padding-top: 15%;
  padding-bottom: 15%;
  font-weight: bold;
}
.index-page {
text-align: center;
background-color: rgba(19, 16, 34, 0.384);
font-style: italic;
color: rgb(200, 150, 200);
font-size: 20px;
font-size: 30px;
}
.home-page{
  text-align: center;
  font-style: italic;
  font-size: 40px;
}
.set-signup{
  padding-left: 20px;
}
 body {
   background-color: rgba(60, 141, 207, 0.63);
 }